@media only screen and (max-width:600px){
    .signup-container{
        height:120vh;
        background:#f4f7fa;
        background-image: url("../src/assets/signup-image.jpg");
        background-position: center;
        object-fit: cover;
        background-size: cover;
       
    }

    .login-container{
        height:100vh;
        background:#f4f7fa;
        background-image: url("../src/assets/login-image.jpg");
        background-position: center;
        object-fit: cover;
        background-size: cover;
       
    }
    
    .auth-card{
        display:flex;
        justify-content: flex-end;
        padding:12px;
        margin:60px 0px 0px 0px
    }

    .form-card{
        padding:26px 18px 0px 18px
    }

    .form-content{
        padding:12px 0px 12px 0px
    }
}



@media only screen and (min-width:600px){
    .signup-container{
        height:150vh;
        background:#f4f7fa;
        background-image: url("../src/assets/signup-image.jpg");
        background-position: center;
        object-fit: cover;
        background-size: cover;
    }

    .login-container{
        height:100vh;
        background:#f4f7fa;
        background-image: url("../src/assets/login-image.jpg");
        background-position: center;
        object-fit: cover;
        background-size: cover;
    }
    .auth-card{
        display:flex;
        justify-content: flex-end;
        padding:60px;
    }

    .form-card{
        padding:36px 38px 0px 36px
    }

    .form-content{
        padding:18px 0px 18px 0px
    }
}