.form-checkbox-card{
    display:flex;
    box-shadow:0 3px 6px 0 rgba(0,0,0,0.2);
    margin:18px 5px 10px 5px;
    padding:16px 0px 0px 10px;
    border-radius:8px;
    cursor: pointer;
}


.form-checkbox-card-active{
    background:var(--brandcolor);
    color:white
}

.form-checkbox-card > p{
    padding:4px 0px 0px 0px
}

.form-checkbox-card > *{
    margin:0px 10px 0px 0px
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
    cursor: pointer;
}